@mixin large-text
  font:
    family: 'Roboto', sans-serif
    weight: 700
  line-height: 48px
  color: $dark
@mixin green-button
  background-color: #36B37E
  opacity: 0.1
  border-radius: 2000px
  font-weight: 600
  font-size: 16px
  line-height: 22px
  text-align: center
  color: #36B37E
  text-transform: uppercase
