*
  box-sizing: border-box
.container
  max-width: 1140px
  margin: auto
li
  cursor: pointer
a
  cursor: pointer
  text-decoration: none
.body
  font-family: 'Roboto', sans-serif
  position: relative
  &::after
    content: ''
    position: absolute
    top: 0
    right: 0
    left: 0
    background-image: url('../img/full-image.png')
    background-repeat: no-repeat
    background-attachment: local
    background-position: center center
    background-size: cover
    background-color: #464646
    height: 742px
    z-index: -1
.button
  border: none
  cursor: pointer
  outline: none
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
.title
  font-family: 'Roboto', sans-serif
.invalid
  font-size: 12px
  line-height: 15px
  color: $validate-color
.watch
  &-more
    display: flex
    align-items: center
    width: 183px
    height: 48px
    border: 1px solid blue
    border-radius: 8px
    padding: 13px 22px 13px 24px
    &__link
      @include block-button
    &__icon
      width: 13px
      margin-top: 2px
      margin-left: 5px
      height: 16px
.history
  max-width: 1190px
