.avia
  padding-top: 108px
  padding-bottom: 114px
  &__title
    font-family: 'Roboto', sans-serif
    font-style: normal
    font-weight: 700
    font-size: 48px
    line-height: 72px
    text-align: center
    letter-spacing: 0.2px
    color: $light
    margin-top: 0
    margin-bottom: 0
    margin-left: 60px
    width: 711px
