.header
  padding-top: 24px
  padding-bottom: 26px
  font-family: 'Open Sans', sans-serif
  // position: relative
  // &::after
  //   content: ''
  //   position: absolute
  //   top: 0
  //   right: 0
  //   left: 0
  //   width: 100%
  //   background-image: url('../img/Background.png')
  //   background-repeat: no-repeat
  //   background-size: cover
  //   z-index: -1
  //   height: 742px
.navbar
  &-top
    display: flex
    justify-content: space-between
    align-items: center
    &__link
      border: 2px solid #FFFFFF
      padding: 13px 24px
      border-radius: 8px
      color: $light
      text-align: center
      text-decoration: none
  &-menu
    list-style: none
    margin: 0
    padding: 0
    display: flex
    align-items: center
    justify-content: space-between
    margin-left: auto
    margin-right: 82px
    &__link
      color: $light
      margin-left: 23px
      font-weight: 600
      font-size: 16px
      line-height: 22px
      text-align: center
      text-decoration: none
      text-align: center
    &__item
      font-weight: 600
      font-size: 16px
      line-height: 22px
      position: relative
      text-align: center
    &__more
      margin-bottom: 2px
